{% extends 'QafooUserBundle::layout.html.twig' %}

{% block navigation %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <h2>Login</h2>
        {{ render(controller('FOSUserBundle:Security:login')) }}
    </div>
</div>
{% endblock %}
