body {
    margin-top: 4em;
}

.navbar-brand img {
    display: inline;
}

.table > tbody > tr:first-child > td {
    border-top: none;
}

.table .form-control {
    width: 100%;
}

.table .form-control.assignment {
    width: 4em;
    border: none;
    padding: 2px 5px;
    height: 1.8em;
}

.table .number {
    text-align: right;
}

.table > tfoot > tr:first-child > td {
    border-top-width: 2px;
}
