<html>
    <head>
        <title>Time Planner</title>
    </head>
    <body>
        {% block content %}
            Dummy template – to be overwritten by application.
        {% endblock %}
    </body>
</html>
