{% extends 'QafooTimePlannerBundle::layout.html.twig' %}

{% block content %}
{% include "QafooTimePlannerBundle:Vacation:remaining.html.twig" with {user: view.user, year: view.year, remaining: view.remainingVacation} %}
<div class="row">
    <div class="col-md-6">
        <h2>Vacations</h2>

        <ul class="nav nav-tabs" role="tablist">
        {% for year in view.years %}
            <li role="presentation" {% if year == view.year %}class="active"{% endif %}>
                <a href="{{path("qafoo.time_planner.vacation.overview", {year: year})}}" role="tab">{{year}}</a>
            </li>
        {% endfor %}
        </ul>

        <table class="table table-striped table-hover table-condensed">
        {% for vacation in view.vacations %}
            {% include "QafooTimePlannerBundle:Vacation:tableRow.html.twig" with {vacation: vacation, highlight: view.highlight} %}
        {% endfor %}
        </table>
    </div>
    <div class="col-md-6">
        <h2>Add vacation</h2>
        {{render(controller('QafooTimePlannerBundle:Vacation:edit'))}}
    </div>
</div>
{% endblock %}
