<div class="alert alert-info">
    <p>Hello {% include "QafooUserBundle:User:normal.html.twig" with {user: user} %}</p>
    <p>You have <strong>{{remaining}} days</strong> of vacation left in {{year}}.</p>
</div>
